layout {

    focus-ring {
        active-color   "#ffb3b0"
        inactive-color "#1f0f0f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb3b0"
        inactive-color "#1f0f0f"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#ffb3b0"
        inactive-color "#ff5359"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb3b080"
    }
}

recent-windows {
    highlight {
        active-color "#ffb3b0"
        urgent-color "#ffb4ab"
    }
}
